*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main{
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    
}

div{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard{
    position: absolute;
    top: 50%;
}